@media screen and (max-width: 990px) {
    .why-choose-us {
        &_img-block {
            .img_1 {
                margin-right: 10%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .menu {
        &__item {
            margin-right: 20px;

            &--last {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .why-choose-us {
        &_img-block {
            .img_1 {
                margin-right: 0;
            }
        }
    }

    .tsay-block {
        &_description {
            padding: 25px 20px 20px 30px;
        }
    }
}


@media screen and (max-width: 800px) {
    .why-choose-us {
        padding: 60px 0 70px;

        .flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &_text-block {
            width: 100%;
            margin-bottom: 20px;
            padding-top: 0;
        }

        &_img-block {
            width: 100%;

            .img_1 {
                margin: 0 5% 5px;
            }

            .img_2 {
                margin: 0 5%;
                -ms-flex-item-align: start;
                align-self: flex-start;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .search_box {
        .search_input {
            width: 88%;
        }

        .search_btn {
            width: 12%;

            &-text {
                display: none;
            }
        }
    }

    .text-block {
        &_title {
            margin-bottom: 36px;
        }
    }

    .present,
    .present-reverse {
        padding: 70px 0 60px;
    }

    .tourist-say {
        padding: 60px 0 70px;

        &_title {
            margin-bottom: 40px;
        }
    }

    .tsay-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &_img {
            width: 70%;
        }

        &_description {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .footer {
        padding: 60px 0 40px;

        &_block {
            max-width: 300px;
        }

        &_icon {
            font-size: 30px;
            ;
        }
    }
}

@media screen and (max-width: 470px) {
    .first_screen {
        .main_title {
            font-size: 34px;
        }
    }

    .why-choose-us {
        .text-block {
            &_btn {
                margin: 0 auto;
            }
        }

        &_img-block {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .img_1 {
                margin: 0 0 5px;
            }

            .img_2 {
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
                margin: 0;
            }
        }
    }

    .steps {
        &_list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &_item {
            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-left: 0;
            }

            &-middle {
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
                margin-right: 0;
            }
        }
    }

    .pblock {
        &_btn {
            margin: 0 auto;
        }
    }

    .tsay-block {
        &_img {
            width: 100%;
        }
    }
}

@media screen and (max-height: 500px) {
    .search_box {
        margin-bottom: 40px;
    }
}

@media screen and (max-height: 400px) {
    .search_box {
        margin-bottom: 15px;
    }
}